@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
    height: inherit;
    padding: 5% 0;
    font-family: 'Roboto', sans-serif;
}


/* Form Config */


.login {
  margin: 0 auto;
  width: 18rem;
  height: 25rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid black;
  
}
.logo {
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.logo img {
    width: fit-content;
    align-self: flex-end;
}
.title {
  font-size: 18px;
  margin-bottom: .5rem;
}
.form {
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 1rem;
    font-size: 12px;
}
.form-control {
    display: flex;
    flex-flow: nowrap column;
    height: 100%;
    width: 100%;
}
.form-control div {
  margin-bottom: .5rem;
}


/* User Config */


#user-password {
  height: 3rem;
}
#user-email {
  height: 3rem;
}
#password {
  width: 100%;
}
#email {
  width: 100%;
}


/* Redirection */

.forgot {
  align-self: flex-end;
  margin: 0;
  text-decoration: none;
}
.button {
  width: 50%;
  height: 1.5rem;
  align-self: center;
  margin: 2rem;
}
.register {
  text-decoration: none;
}


/* Error Config */


#erro {
  color: red;
}