@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");


/* Root Config */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  height: inherit;
  padding: 5% 0;
  font-family: "Roboto", sans-serif;
}

/* Form Config */

.signup {
  margin: 0 auto;
  width: 18rem;
  height: 33rem;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
}

.logo {
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logo img {
  height: 100%;
  width: fit-content;
  align-self: flex-end;
}

.title {
  font-size: 18px;
  margin-bottom: .5rem;
}
.form {
  height: 75%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
  font-size: 12px;
}

.form-control {
  display: flex;
  flex-flow: nowrap column;
  height: 100%;
  width: 100%;
}

.form-control div {
  margin-bottom: .5rem;
}

/* User Config */

#user-password {
  height: 3rem;
}
#user-email {
  height: 3rem;
}
#user-firstname {
  height: 3rem;
}
#user-lastname {
  height: 3rem;
}
#password {
  width: 100%;
}
#email {
  width: 100%;
}
#firstname {
  width: 100%;
}
#lastname {
  width: 100%;
}

/* Redirection */

.forgot {
  align-self: flex-end;
  text-decoration: none;
  margin: 0;
}

.button {
  width: 50%;
  height: 1.5rem;
  align-self: center;
  margin: 2rem 0;
}

/* Error */

#erro {
  color: red;
}
